body {
  background-color: #ffeaa7;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  font-size: 130%;
  transition: background-color 0.2s ease, color 0.2s ease;
}

body.dark-mode {
  background-color: #2d3436;
  color: #dfe6e9;
}

